@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/color.css");
@import url("https://milbits.github.io/oldcord/src/components/imgs.css");
@import url("https://milbits.github.io/oldcord/src/components/other.css");
/* @import url("https://milbits.github.io/oldcord/src/components/profile.css"); */
@import url("https://milbits.github.io/oldcord/src/components/redesign.css");



.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
   display: none;
}

[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

.createDMButtonContainer__35e86 {
    display: none;
}

[aria-label="Send a gift"],
[aria-label="Open GIF picker"],
[aria-label="Open sticker picker"],
[aria-label="Notification Settings"],
[aria-label="Threads"],
[aria-label="Help"],
[aria-label="Inbox"],
[aria-label="Input Options"],
[aria-label="Output Options"],
[aria-label="New Group DM"],
[aria-label="Completed a Quest"],
[aria-label="Copy Username"],
[aria-label="Collected the Orb Profile Badge"],
[aria-label="Add Note (only visible to you)"],
.button_e6e74f,
.popover__2d0ab,
.container__37bfc,
.container__0d0f9,
.footer__5be3e,
.newMemberBadge_f80704,
.text_a2f514
{
    display: none !important;
}

.searchBar__97492 {
    width: 100% !important;
}

.user-profile-modal-v2 {
    width: 49vw !important;
    height: 90vh !important;
    min-width: 0px !important;
}

.sansAttachButton__74017 {
    height: 50px;
}

[aria-label="More message options"] {
    margin-top: -0.2rem;
}

[role="textbox"] {
    margin-top: 0.5rem;
}

.attachWrapper__0923f {
    width: 20px;    
}
