@import url("https://milbits.github.io/oldcord/src/components/vars.css");
@import url("https://milbits.github.io/oldcord/src/components/color.css");
@import url("https://milbits.github.io/oldcord/src/components/imgs.css");
@import url("https://milbits.github.io/oldcord/src/components/other.css");
/* @import url("https://milbits.github.io/oldcord/src/components/profile.css"); */
@import url("https://milbits.github.io/oldcord/src/components/redesign.css");



.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
   display: none;
}

[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}

span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}

.createDMButtonContainer__35e86 {
    display: none;
}
